*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/google-services.json
/app/src/debug/google-services.json
json/
.claude
doc/