<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ÔnThiBằngLáiXe"
        tools:targetApi="31">
        <activity
            android:name=".activity.HaySaiActivity"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".activity.CauLuuActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CauSaiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChiTietKetQuaActivity"
            android:exported="false" />

        <activity
            android:name=".activity.ThiThuActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DeThiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CauHoiActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WebActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChiTietBienBaoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BienBaoActivity"
            android:exported="false" />
        <activity
            android:name=".activity.KetQuaActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.OnBoardingActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FlashcardActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SignDetectActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <receiver
            android:name=".widget.SignDetectWidgetProvider"
            android:exported="true"
            android:label="Nhận diện biển báo">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_sign_detect_info" />
        </receiver>

        <receiver
            android:name=".widget.QuestionWidgetProvider"
            android:exported="true"
            android:label="Câu hỏi ngẫu nhiên">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.kma.OnThiBangLaiXe.WIDGET_REFRESH" />
                <action android:name="com.kma.OnThiBangLaiXe.WIDGET_ANSWER_A" />
                <action android:name="com.kma.OnThiBangLaiXe.WIDGET_ANSWER_B" />
                <action android:name="com.kma.OnThiBangLaiXe.WIDGET_ANSWER_C" />
                <action android:name="com.kma.OnThiBangLaiXe.WIDGET_ANSWER_D" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service
            android:name=".Custom.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4384743339570615~9005080600"/>
    </application>

</manifest>